@import '_vars';
@import '_mixins';
@import '_keyframes';
@import 'normalize';
// @import 'loader';

ul,ol{
    margin: 0;
    padding: 0;
}

html{
    font-size: @base-fontsize;
    line-height: @base-lineheight;
    min-height: 100%;
    background: @bodyBgColor;
}


h1{
    margin-top: 0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-size: @hero-fontsize;
    color: #2C3E50;
    text-transform: lowercase;
    small{
        display: block;
        color: #7f8c8d;
        .reGap;
    }
}

a{
    padding: 2px 5px;
    color: @link-color;
    text-decoration: none;
    .transition (color @short ease-out);
    &:hover{
        color: @link-color-hover;
    }
}

.app{
    width: 600px;
    margin: 20% auto;
    text-align: center;
    h1{
        margin-bottom: 1em;
    }
    ul{
        .noGap;
        li{
            display: inline-block;
            vertical-align: baseline;
            width: 20%;
            .reGap;
        }
    }
    &.error{
        h1{
            color: @red;
        }
    }
}

.app{
    h1{
        .animation(logo .57s 1 @initialDelay ease-in-out both);
    }
    li{
        .animation(link .57s 1 @initialDelay ease-in-out both);
        &:nth-child(1) {
            .animation-delay(@long + @initialDelay + 0 * .1s);
        }
        &:nth-child(2) {
            .animation-delay(@long + @initialDelay + 1 * .1s);
        }
        &:nth-child(3) {
            .animation-delay(@long + @initialDelay + 2 * .1s);
        }
        &:nth-child(4) {
            .animation-delay(@long + @initialDelay + 3 * .1s);
        }
        &:nth-child(5) {
            .animation-delay(@long + @initialDelay + 4 * .1s);
        }
    }
}

@media screen and (max-width: 600px) {
    .app{
        width: 100%;
        h1{
            font-size: 30px;
            margin-bottom: 1.3em;
        }
    }
}

@media screen and (max-width: 480px) {
    .app{
        ul{
            li{
                width: 100%;
                a{
                    display: block;
                    text-align: center;
                    height: 44px;
                    line-height: 44px;
                }
            }
        }
    }
}
